<div style="background: linear-gradient(#FFFFFF,#afafaf);margin:1px auto;padding-top:50px;">

<div class="row">
  <div class="container">
    <div class="row">
      <div>
        <div class="col-xs-12">

          <div class="inner-wrap-contact page-header">
            <h1>Easiest Way To Find Your Dream Job</h1>
          </div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex in massa placerat vulputate. Aliquam id efficitur est,
          sed congue lacus. Cras sed viverra mi, sed bibendum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed volutpat luctus sem, vitae dictum augue. Donec tempor porttitor velit. Nam blandit diam eu est euismod ornare.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quam nunc, ornare ut nibh auctor, iaculis varius
          lacus. Curabitur maximus convallis quam sed semper. Donec ac magna ac est elementum vehicula ac id enim. Maecenas
          ac porta lectus, a rutrum ante. Duis hendrerit sem sit amet tortor euismod accumsan. Quisque facilisis lobortis
          ex, ut accumsan nulla sodales porta. Suspendisse finibus auctor nisi, vitae viverra magna. In leo libero, tempus
          et vehicula quis, cursus a mauris. Sed urna tellus, fringilla vel ligula eu, consequat feugiat mi. Duis pellentesque
          felis in urna volutpat placerat. Curabitur cursus tincidunt aliquam. Quisque ultricies vel ipsum in imperdiet.
          Duis quam urna, tristique quis quam ut, eleifend volutpat odio. Vestibulum nec magna in ligula laoreet varius.
          Vestibulum in urna condimentum, dictum risus id, faucibus lacus. Etiam egestas bibendum nulla, non tincidunt arcu
          vulputate eu. Cras euismod metus id velit rutrum vehicula. Proin pretium viverra purus. Donec efficitur erat ipsum,
          et ultrices libero volutpat et. Donec sit amet tempor libero, eu lobortis eros. Pellentesque laoreet ac leo a maximus.
          <div class="divider"></div>
          <br/>
          <br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex in massa placerat vulputate. Aliquam id
          efficitur est, sed congue lacus. Cras sed viverra mi, sed bibendum arcu. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Sed volutpat luctus sem, vitae dictum augue. Donec tempor porttitor velit. Nam blandit diam eu
          est euismod ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quam nunc, ornare ut nibh
          auctor, iaculis varius lacus. Curabitur maximus convallis quam sed semper. Donec ac magna ac est elementum vehicula
          ac id enim. Maecenas ac porta lectus, a rutrum ante. Duis hendrerit sem sit amet tortor euismod accumsan. Quisque
          facilisis lobortis ex, ut accumsan nulla sodales porta. Suspendisse finibus auctor nisi, vitae viverra magna. In
          leo libero, tempus et vehicula quis, cursus a mauris. Sed urna tellus, fringilla vel ligula eu, consequat feugiat
          mi. Duis pellentesque felis in urna volutpat placerat. Curabitur cursus tincidunt aliquam. Quisque ultricies vel
          ipsum in imperdiet. Duis quam urna, tristique quis quam ut, eleifend volutpat odio. Vestibulum nec magna in ligula
          laoreet varius. Vestibulum in urna condimentum, dictum risus id, faucibus lacus. Etiam egestas bibendum nulla,
          non tincidunt arcu vulputate eu. Cras euismod metus id velit rutrum vehicula. Proin pretium viverra purus. Donec
          efficitur erat ipsum, et ultrices libero volutpat et. Donec sit amet tempor libero, eu lobortis eros. Pellentesque
          laoreet ac leo a maximus.
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
</div>