

	<div class="row">
		<div id="Home">
			<section class="banner-wrap">
				<div id="particles-js"></div>
				<div class="container">
					<div class="banner-caption">
						<h2>Easiest Way To Find Your Dream Job</h2>
						<p>Well trusted and verified companies all around the world are using our job platform to find best employees.</p>
						<a [routerLink]="['../homedetails']"  class="start-now-btn">Read More</a>
					</div>
				</div>
			</section>
			<div class="body-wrap">
				<div class="container">
					<div class="col-md-6 col-md-offset-3">
						<div class="job-info">
							<div class="job-boxwrap">
								<a routerLink="/register-candidate" class="active">
									<i><img src="/assets/images/job-icon.png" alt="" /></i> I need <span>a job</span>
								</a>
							</div>
							<div class="job-boxwrap">
								<a routerLink="/register-employer">
									<i><img src="/assets/images/project-icon.png" alt="" /></i> I have <span>a project</span>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="padding-bottom: 20px; background: linear-gradient(#FFFFFF,#afafaf)">
<div class="container" >
	<div class="row">
		<div id="Services">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>Service<small> 24x7</small></h1>
				</div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex in massa placerat vulputate. Aliquam id efficitur est,
				sed congue lacus. Cras sed viverra mi, sed bibendum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
				volutpat luctus sem, vitae dictum augue. Donec tempor porttitor velit. Nam blandit diam eu est euismod ornare. Interdum
				et malesuada fames ac ante ipsum primis in faucibus. Nunc quam nunc, ornare ut nibh auctor, iaculis varius lacus. Curabitur
				maximus convallis quam sed semper. Donec ac magna ac est elementum vehicula ac id enim. Maecenas ac porta lectus, a rutrum
				ante. Duis hendrerit sem sit amet tortor euismod accumsan. Quisque facilisis lobortis ex, ut accumsan nulla sodales porta.
				Suspendisse finibus auctor nisi, vitae viverra magna. In leo libero, tempus et vehicula quis, cursus a mauris. Sed urna
				tellus, fringilla vel ligula eu, consequat feugiat mi. Duis pellentesque felis in urna volutpat placerat. Curabitur cursus
				tincidunt aliquam. Quisque ultricies vel ipsum in imperdiet. Duis quam urna, tristique quis quam ut, eleifend volutpat
				odio. Vestibulum nec magna in ligula laoreet varius. Vestibulum in urna condimentum, dictum risus id, faucibus lacus.
				Etiam egestas bibendum nulla, non tincidunt arcu vulputate eu. Cras euismod metus id velit rutrum vehicula. Proin pretium
				viverra purus. Donec efficitur erat ipsum, et ultrices libero volutpat et. Donec sit amet tempor libero, eu lobortis
				eros. Pellentesque laoreet ac leo a maximus.
				<div class="container" style="margin:5px auto;">
					<div class="row">
						<div class="col-md-2 flipWrapper">
							<div class="card">
								<div class="face front"  style="padding:100% 0px;">
									IT Services
								</div>
								<div class="face back" style="padding:20px 10px;font-size: 0.8em;">
									Our team of IT experts seek to identify and provide solutions to all your IT needs. We ensure that the solutions are always cost effective, and built to suit the exact requirements of your business.
								</div>
							</div>
						</div>
						<div class="col-md-2 col-md-offset-1 flipWrapper">
							<div class="card">
								<div class="face front" style="padding:100% 0px;">
									Technology Solution
								</div>
								<div class="face back">
									Script
								</div>
							</div>
						</div>
						<div class="col-md-2 col-md-offset-1 flipWrapper">
							<div class="card">
								<div class="face front"  style="padding:100% 0px;">
									Engineering Services
								</div>
								<div class="face back" style="padding:100% 0px;">
									Script
								</div>
							</div>
						</div>
						<div class="col-md-2 col-md-offset-1 flipWrapper">
							<div class="card">
								<div class="face front"  style="padding:100% 0px;">
									Staffing Solution
								</div>
								<div class="face back">
									Script
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row body-wrap">
	<div class="container">
		<div class="row">
			<div id="Industries">
				<div class="col-xs-12">
					<div class="page-header text-right">
						<h1>Industries<small> we provide solutions</small></h1>
					</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec ex in massa placerat vulputate. Aliquam id efficitur est,
					sed congue lacus. Cras sed viverra mi, sed bibendum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
					volutpat luctus sem, vitae dictum augue. Donec tempor porttitor velit. Nam blandit diam eu est euismod ornare. Interdum
					et malesuada fames ac ante ipsum primis in faucibus. Nunc quam nunc, ornare ut nibh auctor, iaculis varius lacus. Curabitur
					maximus convallis quam sed semper. Donec ac magna ac est elementum vehicula ac id enim. Maecenas ac porta lectus, a
					rutrum ante. Duis hendrerit sem sit amet tortor euismod accumsan. Quisque facilisis lobortis ex, ut accumsan nulla sodales
					porta. Suspendisse finibus auctor nisi, vitae viverra magna. In leo libero, tempus et vehicula quis, cursus a mauris.
					Sed urna tellus, fringilla vel ligula eu, consequat feugiat mi. Duis pellentesque felis in urna volutpat placerat. Curabitur
					cursus tincidunt aliquam. Quisque ultricies vel ipsum in imperdiet. Duis quam urna, tristique quis quam ut, eleifend
					volutpat odio. Vestibulum nec magna in ligula laoreet varius. Vestibulum in urna condimentum, dictum risus id, faucibus
					lacus. Etiam egestas bibendum nulla, non tincidunt arcu vulputate eu. Cras euismod metus id velit rutrum vehicula. Proin
					pretium viverra purus. Donec efficitur erat ipsum, et ultrices libero volutpat et. Donec sit amet tempor libero, eu
					lobortis eros. Pellentesque laoreet ac leo a maximus.
				</div>
			</div>
		</div>
	</div>
</div>